html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-size: 18px;
}

#grid {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	> * {
		position: relative;
		border: 1px solid black;
		overflow: hidden;
	}
}

.label {
	position: absolute;
	display: block;
	top: 0.25em;
	right: 0.25em;
	background: red;
	padding: 0.25em 0.5em;
	color: black;
	z-index: 1000;
	border-radius: 5px;
	border: 2px solid white;
}

#four {
	padding: 0.5rem;
	font-size: 2rem;
}
