* {
	box-sizing: border-box;
}

.game-container {
	margin: 2rem auto;
	outline: 1px solid red;
	max-width: 800px;
	min-height: 400px;
	position: relative;
	background: white;
}

.player {
	height: 3rem;
	width: 3rem;
	border: 1px solid slateblue;
	background: transparentize(slateblue, 0.9);
	outline: 1px;
	position: absolute;
	transform-origin: center;
	border-radius: 100%;
}
