* {
	box-sizing: border-box;
	border-width: 0.5rem !important;
	outline-width: 0.5rem !important;
}

body {
	padding: 0;
	margin: 0;
}

.game-container {
	margin: 0;
	padding: 0;
	// outline: 1px solid transparentize(red, 0.75);
	max-width: 100%;
	min-height: 100vh;
	position: relative;
	background: white;
	overflow: hidden;
	background: indigo;
}

.player-1 {
	animation-timing-function: cubic-bezier(0.17, 0.67, 0, 1.58) !important;
}

.player {
	height: 3rem;
	width: 3rem;
	border: 1px solid transparentize(slateblue, 0.75);
	background: transparentize(slateblue, 0.25);
	outline: 1px;
	position: absolute;
	transform-origin: center;
	border-radius: 100%;
}

.place {
	border: 1px solid transparentize(green, 0.75);
	background: transparentize(green, 0.25);
	border-radius: 100%;
	transition: all 1s linear;
}

@keyframes orbit-clockwise {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit-counterclockwise {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}
